@model OpenSourceEnity.Models.ModelViews.EntityViews.UserListMessage

@{
    ViewData["Title"] = "UserListMessage";
}

<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/css/FrontMenu.css">
    <link rel="stylesheet" href="~/css/UserListMessage.css">
    <link rel="stylesheet" href="~/css/HomeMenu.css">
    <title></title>
</head>
<body>
    <div class="list-navigation">
        <nav>
            <ul>
                <li><a href="@Url.ActionLink("Index","Home")">OpenSource</a></li>
                <li><input type="text" name="" value=""></li>
                <li class="container-li">@Html.ActionLink("Выход", "Logout", "Home", null, new { @class = "container-thref-a" })</li>
                <li><a href="#">О сайте</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </nav>
    </div>
    <div class="base">
        <div class="container-home">
            <div class="container-home-menu">
                <nav>
                    <ul>
                        <li>@Html.ActionLink("Моя страница", "Index", "Home")</li>
                        <li>@Html.ActionLink("Список пользователей", "Index", "ListUser", new { UserId = Model.UserId })</li>
                        <li>@Html.ActionLink("Добавить роль пользователю", "RoleAppendUser", "Role", new { UserId = Model.UserId })</li>
                        <li>@Html.ActionLink("Добавить группу пользователю", "TeamUserCreate", "Team", new { UserId = Model.UserId })</li>
                        <li>@Html.ActionLink("Обновить учетные данные", "UserUpdate", "Home", new { UserId = Model.UserId })</li>
                        <li>@Html.ActionLink("Обновить пользовательские данные", "UpdateParticipant", "Home", new { UserId = Model.UserId })</li>
                        <li>@Html.ActionLink("Добавить роль", "RoleCreate", "Role", new { UserId = Model.UserId })</li>
                        <li>@Html.ActionLink("Добавить группу", "TeamCreate", "Team", new { UserId = Model.UserId })</li>
                        <li>@Html.ActionLink("Отправить сообщения", "UserListMessage", "Message", new { UserId = Model.UserId })</li>
                        <li>@Html.ActionLink("Прочитать сообщения", "ReceivingMessage", "Message", new { UserId = Model.UserId })</li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="information">
            <div class="container-home-base">
                <div class="info">
                    Список пользователей
                </div>
                <div class="container-list-user">
                    @using (Html.BeginForm("UserListMessage", "Message", FormMethod.Get))
                    {
                        @Html.Hidden("UserId", Model.UserId);
                        <form class="" action="index.html" method="post">
                            <div class="container-list-user-form">
                                <div class="style-location">
                                    <div class="">
                                        @Html.Label("Email")
                                    </div>
                                    <div class="container-part-input">
                                        @Html.TextBox("Email", null, new { type = "text" })
                                    </div>
                                </div>
                                <div class="style-location">
                                    <div class="">
                                        @Html.Label("Имя пользователя")
                                    </div>
                                    <div class="container-part-input">
                                        @Html.TextBox("UserName", null, new { type = "text" })
                                    </div>
                                </div>
                            </div>
                            <div class="container-reg">
                                <input type="submit" name="" value="Найти">
                            </div>
                        </form>
                    }
                    <div class="">
                        <table style="">
                            @{
                                <tr>
                                    <th>Фамилия</th>
                                    <th>Имя</th>
                                    <th>Отчество</th>
                                    <th>Email</th>
                                    <th>Имя пользователя</th>
                                    <th>Отправить сообщение</th>
                                </tr>
                                @foreach (var list in Model.Users)
                                {
                                    <tr>
                                        <td>@list.Participant.MiddleName</td>
                                        <td>@list.Participant.Name</td>
                                        <td>@list.Participant.LastName</td>
                                        <td>@list.Email</td>
                                        <td>@list.UserName</td>
                                        <td><a class="message-user-input" href="@Url.ActionLink("UserMessage","Message", new { 
                                                                               UserId = Model.UserId, 
                                                                               UserIdRecipient = list.Id })">Отправить сообщение</a></td>
                                    </tr>
                                }
                            }
                        </table>
                        <ul class="pagination">
                            @{
                                for (int i = 1; i < Model.ListUserMessagePagination.CountPage; i++)
                                {
                                    if (Model.ListUserMessagePagination.BeforePage)
                                    {
                                        <li>
                                            <a asp-route-page="@i"
                                               asp-route-sorting="@Model.ListUserMessageSorting.Default"
                                               asp-route-UserId="@Model.UserId">@i</a>
                                        </li>
                                    }
                                    if (Model.ListUserMessagePagination.AfterPage)
                                    {
                                        <li>
                                            <a asp-route-page="@i"
                                               asp-route-sorting="@Model.ListUserMessageSorting.Default"
                                               asp-route-UserId="@Model.UserId">@i</a>
                                        </li>
                                    }
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
